.container {
  text-align: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  direction: ltr;

  h1 {
    color: orangered;
    font-size: 90px;
  }

  h2 {
    font-size: 50px;
  }
}
